<h1>评论一览</h1>
<table>
	<tr>
		<th></th>
		<th>ID</th>>
		<th>用户</th>
		<th>评论</th>
		<th>操作</th>
	</tr>
	<% @comments.each do |comment| %>
		<tr>
			<td>
				<% if @last_readed_comment_id < comment.id %>
					<span class='red'>new!</span>
				<% end %>
			</td>
			<td><%= comment.id %></td>
			<td>
				<% if comment.user %>
					<%= comment.user.username %>
				<% else %>
					匿名用户（<%= comment.username %>）
				<% end %>
			</td>
			<td>
				<%= comment.comment %>
			</td>
			<td>
				回覆 删除
			</td>
		</tr>
	<% end %>
</table>
