<h1>系统设定</h1>
<%= form_tag setting_path do %>
<div>
	公告<br/>
	<%= text_area_tag :notice, AppConfig.notice, :rows => 4 %>
</div>
<div>
	每页长度<br/>
	<%= number_field_tag :entries_perpage, AppConfig.entries_perpage %>
</div>
<div>
	<%= submit_tag '保存设置' %>
</div>
<% end %>
