<% if @entries.count > 0 %>
<% @entries.each do |entry| %>
<%= render "public/entry", :entry => entry %>
<% end %>
<%= will_paginate @entries, :renderer => PaginateLinkRenderer %>
<% else %>
<div class="block" id="not_found">
	未找到符合条件的结果
</div>
<% end %>
