<h1><%= @game.title %></h1>
<div id="canvas_body">
	<canvas id="canvas" width="<%= @game.width %>" height="<%= @game.height %>">

	</canvas>
	<div id="commands">
		
	</div>
</div>

<%= javascript_include_tag @game.js_file %>