<%= link_to(raw("<li#{" class='current'" if action_name == "top"}>TOP</li>"), "/top", :remote => remote?)%>
<%= link_to(raw("<li#{" class='current'" if ["log","date","tag","keyword"].include?(action_name)}>LOG</li>"), "/log", :remote => remote?)%>
	<li>
		GAMES
	</li>