<%= link_to(raw("<li#{" class='current'" if action_name == "top"}>TOP</li>"), "/top.js", :remote => true)%>
<%= link_to(raw("<li#{" class='current'" if ["list","date","tag","keyword"].include?(action_name)}>LOG</li>"), "/list.js", :remote => true)%>
	<li>
		GAMES
	</li>